:root {
    --color-1: #322a2a;
    --color-2: #b89685;
    --color-3: #fff0dd;
    --color-4: #ef9fff;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--color-3);
}

main {
    padding-bottom: 80px;
}

.header-menu {
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: var(--color-2);
    box-shadow: 0 2px 8px var(--color-1);
    display: flex;
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
}

.titulo-principal {
    margin: 0;
    color: var(--color-3);
}

.menu {
    position: sticky;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    display: flex;
    width: 100%;
    height: 50px;
    margin: 0;
}

.menu li {
    display: flex;
    text-decoration: none;
    width: max-content;
    height: 100%;
}

.menu li:hover {
    color: var(--color-1);
    background-color: var(--color-3);
}

.menu li a {
    text-decoration: none;
    color: var(--color-1);
    padding: 10px;
    font-weight: bold;
}

.contacto {
    background-color: var(--color-2);
    justify-content: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar-busqueda input[type="search"] {
  padding: 6px 12px;
  border: 1px solid var(--color-2);
  border-radius: 20px;
  font-size: 0.9rem;
  background-color: var(--color-3);
  color: var(--color-1);
  outline: none;
}

.navbar-busqueda input[type="search"]::placeholder {
  color: var(--color-2);
}